.cartBg{
    background-image: url(../../../public/images/bgCart.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.cartList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto;
    height: 100vh;
    font-family: 'Jura', sans-serif;
}

.buttonNeon{
    background-color: black;
    text-decoration: none;
    text-align: center;
    color:rgb(57,244,213) ;
    border: rgb(57,244,213) 4px solid;
    border-radius: 4px ;
    padding: 10px;
    width: 200px;
    margin: 5px; 
}

.buttonNeon:hover{
    background-color: rgb(57,244,213);
    color:black ;
}

.totalPrice{
    background-color: black;
    color: cyan;
    padding: 10px;
    width: 200px;
    border: none;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    
}

.divButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cartEmpty {
    background-image: url(../../../public/images/cartEmpty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.textEmpty{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Jura', sans-serif;
    padding: 20px;
}

.textEmpty a{
    text-decoration: none;
    background-color: #f12fc0;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.textEmpty a:hover{
    color: black;
    background-color: rgb(57,244,213);
}

.textCartEmpty{
    text-align: center;
}