.cardItemDetail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cardItemDetailText{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1 ;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;
    width: 70%;
    background-color: #fff;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 25px;
}

.titleDetailProd{
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}

.cardCount{
    text-align: center;
    padding: 10px;
    width: 300px;
    color: black;
} 

.cardCount p{
    margin: 0;
} 

.cardCount span{
    padding-left: 10px;
    color:black;
    font-Size:20px;
} 

.cardImgDetail{
    max-width: 300px;
    height: 300px;
    padding: 10px;
} 

.cardDetailDescription{
    padding: 20px;
    width: 70%;
    font-size: 18px;
    background-color: #95ddcd;
    border-radius: 25px;
    margin: 20px;
    overflow: auto;
    border: 1px black solid;
}

.goCart{
    display: inline-block;
    background-color: #f12fc08e;
    border-radius: 25px; 
    width: 150px;
    transition: all 0.5s;
    margin-top: 20px;
    right: 0;
}

.goCart span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 14px;
}

.goCart span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.goCart:hover span {
    padding-right: 25px;
}

.goCart:hover span:after {
    opacity: 1;
    right: 0;
}

.sinStock{
    background-color: rgba(128, 128, 128, 0.603);
    border-radius: 25px;
    text-transform: uppercase;
}