.bgForm{
    background-image: url('../../../public/images/bgForm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Jura', sans-serif;
}

.divCheckout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(57,244,213);
    align-items: center;
    padding: 20px;
}

.cartForm {
    width: 100%;
}

.totalCostForm{
    text-align: center;
    text-transform: uppercase;
    background-color:  #f12fc08e;
    font-size: 40px;
}

.divForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000000a1;
    padding: 20px;
    margin-top: 10px;
}

.divForm label{
    padding: 10px;
    width: 400px;
}

.divForm input{
    padding: 10px;
    width: 400px;
}

.confirmId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    padding: 20px;
    height: 100vh;
}

.confirmId h3{
    text-decoration: none;
    background-color: #f12fc08e;
    padding: 15px;
    color: rgb(57,244,213);
    margin: 20px 0;
}

.confirmId a{
    text-decoration: none;
    background-color: #f12fc08e;
    border-radius: 25px;
    padding: 15px;
    color: black;
}

.confirmId a:hover {
    border-radius: 25px;
    padding: 15px;
    color: black;
    background-color: rgb(57,244,213);
}

.messageError{
    color: rgba(248, 194, 194, 0.74);
}

.divButtonForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divButtonValidate{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonValidateData{
    margin: 5px 10px 2px 0px;
    color: black ;
    border: rgb(57,244,213) 4px solid;
    border-radius: 4px ;
    padding: 10px;
    width: 200px;
    background-color: #f12fc0;
    font-weight: bold;
}

.buttonValidateData:hover{
    background-color: rgb(57,244,213);
    color:black
}

