.success {
    background-color: #95ddcd;
    position: absolute;
    padding: 15px 20px;
    width: auto;
    height: auto;
    right: 35px;
    top: 70px;
    border-radius: 50%;
    border: solid 1px black;
    
}

.error {
    background-color: rgba(255, 0, 0, 0.336);
    color: white;
    position: absolute;
    padding: 15px 20px;
    width: auto;
    height: auto;
    right: 35px;
    top: 70px;
}

