body{
    background: linear-gradient(90deg, rgba(40,193,167,1) 0%, rgba(36,77,66,1) 50%, rgba(227,26,26,1) 100%);
}

.Logo-app{
    width: 120px;
    padding: 10px;
}

.Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid rgba(4, 40, 43, 0.473);
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li{
    color: white;
    padding: 10px;
    margin: 2px;
    font-size: 20px;
    background-color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}