.Logo-app{
    width: 120px;
    padding: 10px;
}

.bgtNav{
    background-color: black;
}

.optionCategory{
    padding: 13px 20px;
    color: aliceblue;
    width: 130px;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: width 2s;
}

.optionCategory:hover{
    border-bottom: 2px solid rgba(57, 92, 83, 0.349);
    width: 200px;
}

.activeCategory{
    padding: 13px 20px;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    cursor: pointer;
    color: aliceblue;
    background-color: #f12fc08e;
}