.containerCounter{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.counter{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.buttonUpDown{
    padding: 5px 10px;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    background-color: #8e95a1;
    border: none;
    border-radius: 10px;
}

.buttonUpDown:hover{
    background-color: #555b66;
}

.buttonAddCart{
    padding: 15px 25px;
    margin-bottom: 10px;
    width: 200px;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px rgba(153, 153, 153, 0.541);
}

.buttonAddCart:hover {background-color: #3e8e41} 